/**
The fonts file should contain any and all font family declarations.
If the font has multiple weights, always use the same font family name,
with different font-weight values. Font-weight values should always use named weights.
The same goes for using fonts in other SCSS code.
Exceptions can be made if the font has more than 3 weights or abnormal weight distribution.
The other part of the font file should contain font family pseudoclasses for using the fonts.
Pseudoclasses should not contain any weight or size properties—those belong in the classes that use
the font.
Name the font family pseudoclasses with primary, secondary, and so on.
The primary should usually refer to the heading font and the secondary to the standard (body text)
font.
*/

* {
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
	-webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-feature-settings: "liga", "kern";
	font-size: var(--text-base-size);
  font-family: var(--font-primary);
	color: var(--color-text);
	line-height: $baseline;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

//
// Headings
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
  text-transform: capitalize;

	small {
		font-weight: 400;
		line-height: 1;
		color: $headings-small-color;
	}
}

h1,
h2,
h3 {
	margin-top: $line-height-computed;
	margin-bottom: ($line-height-computed / 2);

	small {
		font-size: 65%;
	}
}

h4,
h5,
h6,
i {
	margin-top: ($line-height-computed / 2);
	margin-bottom: ($line-height-computed / 2);

	small {
		font-size: 75%;
	}
}

h1 {
  @include fluid-type(font-size, $minScreen, $maxScreen, 1.383rem, 2.488rem);
}

h2 {
	@include fluid-type(font-size, $minScreen, $maxScreen, 1.296rem, 2.074rem);
}

h3 {
	@include fluid-type(font-size, $minScreen, $maxScreen, 1.215rem, 1.728rem);
}

h4 {
	@include fluid-type(font-size, $minScreen, $maxScreen, 1.138rem, 1.44rem);
}

h5 {
	@include fluid-type(font-size, $minScreen, $maxScreen, 1.067rem, 1.2rem);
}

h6 {
	@include fluid-type(font-size, $minScreen, $maxScreen, 1rem, 1rem);
}

// Body text
// -------------------------
p {
	margin: 0 0 ($line-height-computed / 2);
}

// Emphasis & misc
// -------------------------
// Ex: (12px small font / 14px base font) * 100% = about 85%
small {
	font-size: floor((100% * $font-size-small / $font-size-base));
}

// Unordered and Ordered lists
ul,
ol {
	margin-top: 0;
	margin-bottom: ($line-height-computed / 2);
	ul,
	ol {
		margin-bottom: 0;
	}
}

// Description Lists
dl {
	margin-top: 0; // Remove browser default
	margin-bottom: $line-height-computed;
}

dt,
dd {
	line-height: $line-height-base;
}

dt {
	font-weight: 700;
}

dd {
	margin-left: 0; // Undo browser default
}

// Misc
// -------------------------
// Abbreviations and acronyms
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[title],
abbr[data-original-title] {
	cursor: help;
}

// Blockquotes
blockquote {
	padding: ($line-height-computed / 2) $line-height-computed;
	margin: 0 0 $line-height-computed;
	font-size: $blockquote-font-size;
	border-left: 5px solid $blockquote-border-color;
	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
	// Note: Deprecated small and .small as of v3.1.0
	// Context: https://github.com/twbs/bootstrap/issues/11660
	footer,
	small {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: $line-height-base;
		color: $blockquote-small-color;

		&:before {
			content: "\2014 \00A0"; // em dash, nbsp
		}
	}
}

// Addresses
address {
	margin-bottom: $line-height-computed;
	font-style: normal;
	line-height: $line-height-base;
}