.single-post {
  header {
    border: none;
    margin-bottom: 1em;

    h2 {
      font-size: 1.5rem;
      font-style: italic;
    }

    em {
      font-weight: bold;
    }

    time {
      color: var(--color-primary);
    }
  }

  ol, ul:not(.post-related, .ingredients ul, .post-info ul, .steps ul) {
    list-style: inherit;
    margin-left: 1rem;
  }

  img {
    position: relative;
    margin: 2rem -50vw;
    max-width: 100vw;
    left: 50%;
    right: 50%;
    width: 100vw;
    height: auto;
  }

  a {
    color: var(--color-link);
  }

  .social-icons {
    display: flex;
    justify-content: start;
    margin-top: 1.5rem;

    svg {
      width: 100%;
      max-width: 35px;
      margin-right: 1.5rem;
      padding: 1rem 0;
    }
  }
  
  .signature {
    font-weight: bold;
  }
}

@media (min-width: 745px) {
  .single-post img {
    margin: 2rem 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}