<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{- partial "head.html" . -}}
    {{- block "head" . }}{{- end }}
  </head>
  <body class="{{- if .IsHome }}home{{ end -}}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQZPMZH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{- partial "header.html" . -}}

    {{ if .IsHome }}
      {{- partialCached "banner.html" . -}}
    {{ end }}

    <div class="container">
      {{ if .IsHome }}
        {{- partial "hero.html" . -}}
      {{ end }}

      <main role="main">
        {{- block "main" . }}{{- end }}
      </main>

      {{- partial "sidebar.html" . -}}
  
      {{- partialCached "footer.html" . -}}
    </div>

    {{- partial "script.html" . -}}
  </body>
</html>
