{{ define "main" }}
    <main class="infinite-container">
      <h2 class="small-title">{{ .Title | humanize }}</h2>
      {{ $paginator := .Paginate (where .RegularPages "Draft" false) }}
      {{ range $paginator.Pages }}
           {{- partial "post.html" . -}}
      {{ end }}

      {{ partial "pagination.html" . }}
    </main>
{{ end }}

{{ define "script" }}
<script type="text/javascript">
let elem = document.querySelector('.infinite-container');
let infScroll = new InfiniteScroll( elem, {
  // options
  path: '.infinite-more-link',
  append: '.infinite-item',
  history: 'replace',
  scrollThreshold: 700
});
</script>
{{ end }}
