{{ define "main" }}
    {{ partial "category-filter" . }}

    <main class="infinite-container">
      <h2 class="small-title">{{ .Title | humanize }}</h2>
      {{ $paginator := .Paginate (where .RegularPages "Draft" false) }}
      {{ range $paginator.Pages }}
           {{- partial "post.html" . -}}
      {{ end }}

      {{ partial "pagination.html" . }}
    </main>
{{ end }}

{{ define "script" }}
<script type="text/javascript">
const infinite = new Waypoint.Infinite({
  element: document.querySelectorAll('.infinite-container')[0],
  offset: '75%'
});
</script>
{{ end }}
