.post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;

  dl {
    dt {
      font-weight: normal;
    }

    dd {
      font-size: 1.75rem;
      margin-left: 0;
      font-weight: bold;
    }
  }
}

.ingredients {
  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    li {
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 1.5;
      border-bottom: 1px dashed rgba(0,0,0,.3);

      &:hover {
        cursor: pointer;
        background: cornsilk;
      }
    }
  }
}

@media (min-width: 745px) {
  .post-info {
    flex-direction: row;
  }
}