#post-latest {
  border-bottom: 4px double var(--color-black);

  .see-more {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 40px 0;
    text-decoration: underline;
    font-weight: 500;
    border-top: 4px double var(--color-black);
    background-color: var(--color-secondary);

    &:after {
      content: '→';
      font-family: icons;
    }

    &:hover {
      color: var(--color-link);
    }
  }
}